main{
    margin-left: 10rem;
    margin-right: 2rem;
}

#main-grid-container{
    padding-top: 10px;
    display: grid;
    /* grid-template-columns: 20% 80%; */

    /* Contains photo & software portfolio */
    /* grid-template-rows: 1fr 1fr; */
}

#software{
    /* grid-column-start: 2; */
}

