/* Create space bw grids & navbar 
- Collapse the navbar and pin it to the bottom on smaller displays 
- Use kp as logo until hovered, then expand and display kavanparam. Along with full sidebar contents.
*/





.nav-section{
    /* border: 1px solid red; */

    /* display: flex;
    flex-direction: column;
    align-items: center;  */
    /* display: flex; */
    /* background-color: white; */


    /* Testing if navtest can be removed and grid can be made around it */
    /* position: fixed;
    left: 65px; */

}

.navfix{
    /*Removed from the flow the document and had to specify position manually. 
    Not the best solution best serviceable */
    
    /* left: 60px; */
    /* padding-left: 1rem; */
}

.navbar{
    width: 10rem;
    height: 100vh;
    position: fixed;

    background-color: hsla(260, 86%, 3%, 0.2);
    /* padding-left: 1em; */
    overflow: scroll;
}

.navbar-nav{
    margin: 0;
    padding: 0;
    list-style-type: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-logo > a > h1{
    color: rgba(255, 145, 0, 0.9);
    font-size: 1.6em;
    font-weight: 400;
    /* letter-spacing: -0.05em; */
    margin: 0;
    padding: 1rem 0;
}

.nav-item{
    width: 100%;
}

nav li{
    padding: 1rem 0;
}

.nav-item:last-child{
    margin-top: auto;
}

.nav-link{
    display: flex;
    align-items: center;
    height: 2rem;
}


.nav-icons{
    margin-top:auto;
    display: flex;
    justify-content: space-around;
    /* padding-right: 5rem; */
    /*Can you add padding between flex children?*/
} 


