
.nav-section{
    /* border: 1px solid red; */

    /* display: flex;
    flex-direction: column;
    align-items: center;  */
    /* display: flex; */
    background-color: white;


    /* Testing if navtest can be removed and grid can be made around it */
    /* position: fixed;
    left: 65px; */
}

.navfix{
    /*Removed from the flow the document and had to specify position manually. 
    Not the best solution best serviceable */
    position: fixed;
    left: 60px;
}

.nav-logo h1{
    color: #FF9100;
    font-weight: 600;
}

.nav-logo > a{
    text-decoration: none;
}

.nav-section ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav-section li{
    padding: 10px 0;
}


nav a:link, a:visited{
    text-decoration: none;
    color: grey;
}

nav a:hover{
    text-decoration: none;
    color: black;
}

.nav-icons{
    display: flex;
    justify-content: space-between;
    padding-right: 70px;
    /*Can you add padding between flex children?*/
} 


