#photo-portfolio-section{
    /* Subgrid containing portfolio heading and content */
    display: grid;
    grid-template-rows: repeat(3, auto);
    row-gap: 5px;
}

.photo-grid-item{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.photo-grid-item img{
    height: 250px;
    width: auto;
    margin: 0;
}

#photo-grid-port img{
    /* height: 350px; */
}

/* Doesn't work. Tried to center items. */
/* #photo-container-1{
    justify-items: center;
} */

