#photography-toggle{
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#photo-portfolio-section{
    /* Subgrid containing portfolio heading and content */
    display: grid;
    /* grid-template-rows: repeat(3, auto); */
    row-gap: 10px;
}

.photo-grid-item{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.photo-grid-item img{
    height: 300px;
    width: auto;
    margin: 0;
}

#photo-grid-port img{
    height: 350px;
}

/* Doesn't work. Tried to center items. */
/* #photo-container-1{
    justify-items: center;
} */

