#projects-toggle{
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.software-portfolio-section{
    /* grid-row-start: 2;
    grid-column-start: 2; */

    display: grid;
    /* grid-template-rows: 55px repeat(auto, auto); */
    row-gap: 10px;
}

#current-projects{
    background: rgba(0,0,0,.9);
    color: rgba(255,238,247,.8);
}

#current-projects > details{
    padding-left: 20px;
    margin-bottom: 20px;

}

.current-projects-outer{
    padding: 3px;
    background: linear-gradient(90.56deg,#27061a,#ff6363 29.69%,#9b4dff 52.6%,#100321 100%);
    border-radius: 12px;
}



#git-project-list > li{
    padding: 50px 0;

}


.completed-projects > h2 > svg{
    color: #59d499;
    height: 25px;
    width: 25px;
}

.software-outer{
    padding: 1px;
    /* background: linear-gradient(90.56deg,#27061a,#ff6363 29.69%,#9b4dff 52.6%,#100321 100%); */
    /* background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%); */


    background: rgb(50,77,79);
    background: linear-gradient(209deg, rgba(50,77,79,1) 14%, rgba(231,0,0,1) 77%, rgba(203,0,0,1) 100%);
    border-radius: 12px;
}

.software-grid-item{
    color: white;
    padding: 25px;
    /* border: 1px solid hsla(0,0%,100%,.1); */
    background: rgba(0,0,0,0.2);
    border-radius: 12px;

    /* display: flex;
    align-items: center; */
}




/* Gradient & border radius for rounded corners -- OUTSIDE */
/* background: linear-gradient(90.56deg,#27061a,#ff6363 29.69%,#9b4dff 52.6%,#100321 98.44%);
border-radius: 12px; */

/* INSIDE */
/* display: flex;
align-items: center;
padding: 20px 24px;
border: 1pxsolidhsla(0,0%,100%,.1);
background: rgba(0,0,0,.8);
border-radius: 12px; */


.software-grid-item > h4{
    font-size: 20px;
    font-weight: 500;
}

/* https://www.joshwcomeau.com/gradient-generator?colors=66002c|ffea00&angle=315&colorMode=hcl&precision=2&easingCurve=0.9678899082568807|0.9935493119266054|-0.05|0.016485091743119264 */
.divPokemon{
    background-image: linear-gradient(
    315deg,
    hsl(334deg 100% 20%) 1%,
    hsl(6deg 58% 45%) 47%,
    hsl(33deg 87% 52%) 48%,
    hsl(55deg 100% 50%) 100%
);
}

/* Main heading: */
/* font-size: 20px;
font-weight: 600;
line-height: 27px; */

/* Sub-text inside*/ 
/*  margin: 8px 0 0;
    font-size: 16px;
    line-height: 24px; 
    color: rgba(255,238,247,.8);
    */
