.software-portfolio-section{
    grid-row-start: 2;
    grid-column-start: 2;
    display: grid;
    row-gap: 15px;
}

.software-portfolio-section div{
    padding: 125px;
    border: 2px solid red;
}

.software-portfolio-section h1{
    font-weight: lighter;
    color: grey;
}