.software-portfolio-section{
    grid-row-start: 2;
    grid-column-start: 2;

    display: grid;
    grid-template-rows: 55px repeat(3, auto);
    row-gap: 5px;
}

.software-portfolio-section div{
    padding: 150px;
    background-color: brown;
}

.software-grid-item{

}