#store-grid-container{
    padding-right: 60px;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

/* .store-grid-item{
    background-color: whitesmoke;
} */

/* Doesn't affect navbar, already centered? */
/* .store-grid-item:nth-child(1) {
    justify-self: center;
} */

#store-section{
    grid-column-start: 2;
    
    display: grid;
    grid-template-rows: 55px auto;
    row-gap: 15px;
}

/* Store h1 isn't the same size as photography and isn't aligning with navbar.
default-padding might be the reason why */
#store-section h1{
    /* background-color: red; */
}

.store-item-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 8px;
}

.store-item{
    padding: 50px;
    background-color: #fafaf7;
}

.store-item h2{
    font-weight: 600;
    font-size: large;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    padding-bottom: 10px;
    /* text-align: center; */
}

.store-item p{
    color: rgba(0, 0, 0, 0.8);
}