* {
    /* border: 1px solid coral; */
}

body{
    margin: 0;
    font-family: system-ui, 'Segoe UI', sans-serif;
}

.default-padding{
    /*Padding removed in body, and reinserted as necessary*/
    padding: 8px;
}

h1{
    display: inline-block;
    font-size: x-large;
    font-weight: 200;
    color: grey;
}

h2{
    display: inline-block;
    font-size: large;
    font-weight: 200;
    color: grey;
}