* {
    /* border: 1px solid coral; */
}

body{
    margin: 0;
    font-family: sans-serif;
}

.default-padding{
    /*Padding removed in body, and reinserted as necessary*/
    padding: 8px;
}

h1{
    font-weight: 200;
    color: grey;
}